.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #fff;
}

h2{
    z-index: 1;
}


.containerSlug{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 1;
}

.cardPreview{
    display: flex;
    align-items: center;
    flex-direction: column;
}


