@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
  height: 100vh;
  background-color: #070e30;

}

.ContainerLoading{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
